.style{
    background-color: #A6C48A;
    height: 180px;
 }
.search {
    text-align: center;
    font-family: Source Code Pro;
    color:white;
    font-size: 64px;
}
.para2{
    text-align:center;
}
.table1 {
    text-align: center;
    font-family: Source Code Pro;
    color: black;
    font-size: 44px;
}

.para4 {
    background-color: #F2DFD7;
    height : 800px;
}

.Quantity1 {
    text-align: center;
    font-family: Source Code Pro;
    color: black;
    font-size: 44px;
}

.style1 {
    background-color: #DD9787;
    height: 150px;
}

.style2 {
    background-color: #FBFBF2;
    height: 400px;
}

